apiVersion: v1
kind: ConfigMap
metadata:
  name: cassandra-initdb
data:
  cassandra-init.cql: |
    CREATE KEYSPACE IF NOT EXISTS openframe_events
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};

    USE openframe_events;

    CREATE TABLE IF NOT EXISTS unified_logs (
    ingest_day          text,
    tool_type           text,
    event_type          text,
    event_timestamp     timestamp,
    tool_event_id       text,
    user_id             text,
    device_id           text,
    hostname            text,
    organization_id     text,
    organization_name   text,
    severity            text,
    message             text,
    details             text,
    debezium_message    text,
    PRIMARY KEY ((ingest_day, tool_type), event_type, event_timestamp, tool_event_id)
    ) WITH CLUSTERING ORDER BY (event_type ASC, event_timestamp DESC, tool_event_id ASC);
