apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authentik-postgres
  annotations:
    keel.sh/policy: force
    keel.sh/trigger: poll
spec:
  serviceName: authentik-postgres
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: authentik-postgres
  template:
    metadata:
      labels:
        app: authentik-postgres
      {{- with .Values.postgres.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        fsGroup: 999

      initContainers:
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 999:999 /var/lib/postgresql/data && chmod 0700 -R /var/lib/postgresql/data"]
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data

      containers:
      - name: postgres
        image: {{ .Values.postgres.image.registry }}/{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: authentik-postgres
        - secretRef:
            name: authentik-postgres
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - authentik-user
            - -d
            - authentik-database-authentik
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - authentik-user
            - -d
            - authentik-database-authentik
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data

      {{- if .Values.postgres.metrics.enabled }}
      - name: postgres-exporter
        image: {{ .Values.postgres.metrics.image.registry }}/{{ .Values.postgres.metrics.image.repository }}:{{ .Values.postgres.metrics.image.tag }}
        ports:
        - name: metrics
          containerPort: 9187
        env:
        - name: DATA_SOURCE_USER
          valueFrom:
            secretKeyRef:
              name: authentik-postgres
              key: POSTGRES_USER
        - name: DATA_SOURCE_PASS
          valueFrom:
            secretKeyRef:
              name: authentik-postgres
              key: POSTGRES_PASSWORD
        - name: DATA_SOURCE_URI
          value: "localhost:5432?sslmode=disable"
        livenessProbe:
          httpGet:
            path: /metrics
            port: metrics
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /metrics
            port: metrics
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          {{- toYaml .Values.postgres.metrics.resources | nindent 10 }}
        securityContext:
          runAsNonRoot: true
          runAsUser: 65534
      {{- end }}

      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: authentik-postgres
