apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tactical-redis
spec:
  serviceName: tactical-redis
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: tactical-redis
  template:
    metadata:
      labels:
        app: tactical-redis
      {{- if .Values.redis.metrics.enabled }}
      {{- with .Values.redis.metrics.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
    spec:

      containers:
      - name: redis
        image: {{ .Values.redis.image.registry }}/{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}
        command: ["redis-server", "--save", "3600", "1", "300", "100", "60", "10000"]
        ports:
        - containerPort: 6379
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 30
          periodSeconds: 10

        volumeMounts:
        - name: redis-data
          mountPath: /data

      {{- if .Values.redis.metrics.enabled }}
      - name: metrics
        image: {{ .Values.redis.metrics.image.registry }}/{{ .Values.redis.metrics.image.repository }}:{{ .Values.redis.metrics.image.tag }}
        ports:
        - containerPort: 9121
          name: metrics
        env:
        - name: REDIS_ADDR
          value: "redis://localhost:6379"
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
      {{- end }}

  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
