
registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: curlimages/curl
    tag: "8.9.1"


postgres:
  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: postgres
    tag: "13-alpine"
  podAnnotations:
    loki.grafana.com/scrape: "true"
    prometheus.io/scrape: "true"
    prometheus.io/port: "9187"
    prometheus.io/path: "/metrics"

  metrics:
    enabled: true
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: prometheuscommunity/postgres-exporter
      tag: "v0.18.0"
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
