apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authentik-redis
spec:
  serviceName: authentik-redis
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: authentik-redis
  template:
    metadata:
      labels:
        app: authentik-redis
      {{- if .Values.redis.metrics.enabled }}
      {{- with .Values.redis.metrics.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
    spec:
      priorityClassName: redis-authentik

      containers:
      - name: redis
        image: {{ .Values.redis.image.registry }}/{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}
        ports:
        - containerPort: 6379
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: redis-data
          mountPath: /data

      {{- if .Values.redis.metrics.enabled }}
      - name: metrics
        image: {{ .Values.redis.metrics.image.registry }}/{{ .Values.redis.metrics.image.repository }}:{{ .Values.redis.metrics.image.tag }}
        ports:
        - containerPort: 9121
          name: metrics
        env:
        - name: REDIS_ADDR
          value: "redis://localhost:6379"
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
      {{- end }}

      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: authentik-redis
